html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  font-size: 14px;
  background-color: #FdFAFE;
}

mui-btn {
  font-size: 14px;
}

.flex {
  display: flex;
  gap: 25px;
  padding: 35px;
  padding-top:90px;
}

.main {
  display: flex;
  width: 75%;
  gap: 60px;
  flex-direction: column;
}

.aside {
  display: flex;
  gap: 15px;
  flex-direction: column;
  border-radius: 20px;
}

.d-flex {
  display: flex;
}

.gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 20px;
}

.gap-3 {
  gap: 30px;
}

.m-auto {
  margin: auto;
}

.j-content {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.f-direction {
  flex-direction: column;
}

.f-size1 {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: black;
  padding-top: 8px;
  gap: 8px;
}

.f-size2 {
  display: flex;
  font-size: 16px;
  line-height: 24px;
  color: black;
  font-weight: bold;
  padding-top: 8px;
  gap: 8px;
}

.custom-card {
  width: 323px;
  height: 295px;
  border-radius: 20px;
  padding: 10px, 20px, 20px, 20px;
  gap: 8px;
}